@import '../main.scss';

.sidebar {
    background: $secondaryColor;
    max-width: 10.55% !important;
    position: static;
    z-index: 99;
    padding: 0 !important;
    &_content {
        position: static;
        overflow: visible;
        width: auto;
        left: 0;
        padding-top: 70px;
        .nav {
            display: block;
            .nav-item{
                display: block;
                
                transition: all .3s;
                a{
                    color: $whiteColor;
                    padding: 11px 20px;
                    display: block;
                    svg {
                        margin-right: 20px;
                    }
                    &:hover {
                        background: rgba(0, 0, 0, 0.23);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}