@import '../abstracts/variable.scss';

.sidebar {
    background: $secondaryColor;
    width: 230px !important;
    position: fixed;
    z-index: 99;
    padding: 0 !important;
    height: 100%;
    top: 0;
    &_content {
        position: static;
        overflow: visible;
        width: auto;
        left: 0;
        padding-top: 140px;
        .nav {
            display: block;
            .nav-item{
                display: block;
                transition: all .3s;
                position: relative;
                a{
                    color: $whiteColor;
                    padding: 11px 20px;
                    display: block;
                    svg {
                        margin-right: 20px;
                    }
                    &.active {
                        background: rgba(0, 0, 0, 0.23);
                        &:before{
                            content: '›';
                            font-size: 45px;
                            position: absolute;
                            right: 10px;
                            top: -13px;
                            color: $secondaryColor;
                            z-index: 15555;
                        }
                    }
                    &:hover {
                        background: rgba(0, 0, 0, 0.23);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}