@import "../abstracts/variable";

body {
    background-color: $bgColor !important;
    height: 100vh;
}
.main {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100vh;
    
    &_content {
        -webkit-box-flex: 1;
        flex: 1 auto;
        max-width: 100%;
    }
}
.content {
    padding: 23px;
    &_title {
        font-size: 24px;
        font-weight: bold;
        color: $primaryColor;
    }
}
.breadcrumb {
    padding: 15px 0 !important;
    background-color: transparent !important;
    li {
        padding: 0 !important;
        color: $textColor;
        font-weight: bold;
        font-size: 14px;
        &:not(:first-child):before{
            content: '' !important;
            width: 4px;
            height: 4px;
            background: $textColor;
            border-radius: 50%;
            margin: 5px 6px 4px 5px;
            padding: 0;
        }
        a{
            color: $textColor;
            font-weight: bold;
            font-size: 14px;
        }

    }
}